
@import url('https://fonts.googleapis.com/css?family=Raleway');

html,h1,h2,h3,h4,h5,h6,a{
    font-family: "Raleway";
   }

.navbar{ background:#91cdb8;}

.nav-link , .navbar-brand{ color: #393939; cursor: pointer;}

.nav-link{ margin-right: 1em !important;}

.nav-link:hover{ background: #f4f4f4; color: #91cdb8; }

.navbar-collapse{ justify-content: flex-end;}

.navbar-toggler{  background:#fff !important;}

html, body {
    margin: 0;
    padding: 0;
}

.header{
    background-image: url('../img/SinglePageBackground.svg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
   }

.overlay{
    position: relative;
    float: left;
    min-height: 100%;
    min-width: 100%;
    /*height:100%;
    width:100%;*/
    left: 0;
    top: 0;
    background: rgba(145, 205, 184, 0.9);
   }

 .description{
    position: absolute;
    top: 55%;
    left: 40%;
    margin: auto;
    padding: 2em;
    
}
.description h1{
    color:#393939 ;
}

.description h3 {
    color:#393939 ;
}

.description p{
    color:#393939;
    font-size: 1.5em;
    width: 70%;
    line-height: 1.5;
}
.description button{
    border:1px  solid #91cdb8;
    background:#91cdb8;
    color:#393939;
}

.youth p{
    color:grey;
    font-size: 1.5em;
    width: 70%;
    line-height: 1.5;
}

.heading {
    background-color: #91cdb8;
    color: #393939;
    padding: 1em 10em;
    margin: 0;
    display: flex;
    width: 2em;
    /*align-items: center;*/
}

.about{
    margin: 2em 0;
    padding: 0;
    position: relative;
}

.about h1{
    color:#393939;
}

/*Events*/
.events{
    margin: 2em 0;
    position: relative;
}
.events h1{
    color:#393939;
}

/*Contact Us*/
.contactus{
    margin: 2em 0;
    position: relative; 
}
.contactus h1{
    color:#393939;
}

.details {
    margin: 1em 0;
    line-height: 0.5vmax;
    font-family: "Raleway";
}

.socialmedia {
    display: flex;
    align-items: top;
}

.socialmedia img {
    margin: 1em;
}

/*Find Us*/
.findus{
    margin: 2em 0;
    position: relative; 
}
.findus h1{
    color:#393939;
}

/*Sign Up*/
.signup{
    margin: 4em 0;
    position: relative; 
}
.signup h1{
    color:#393939;
}
